/* Write your CSS here */
.todo-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 5px;
}
.title {
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
}
.delete-button {
  color: #ff0b37;
  background-color: transparent;
  border-style: none;
  border: 1px solid #ff0b37;
  padding: 5px;
  border-radius: 5px;
}
