* {
  margin: 0px;
}
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container {
  background-color: #ffffff;
  width: 90%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  margin: 10px;
}
.heading {
  color: #ff8542;
  font-family: 'Roboto';
  padding-bottom: 20px;
}
